@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    text-align: center;
}
nav>ul>li{
    list-style: none;
    display: inline-block;
}
nav>ul>li>div{
    background-color: transparent;
    text-align: center;
    padding: 20px 10px;
    display: inline-block;
    transition: all .3s linear;
}
nav>ul>li>div:hover{
    background-color: #424242;
}
nav>ul>li>div>a{
    text-decoration: none;
    color: white;
    border: solid transparent;
    font-size: 25px;
    padding: 5px 10px;
    transition: all .3s linear;
}
nav>ul>li>div:hover>a{
    border: solid 2px white;
}
.active{
    border: solid 2px white;
    background-color: #424242;
}
.fondo{
    background-color: #424242;
}
body{
    background-color: black;
}
h2{
    padding: 50px 0;
    text-align: center;
    color: goldenrod;
    background-color: darkred;
    font-size: 30px;
}
.page1>nav>section{
    position: relative;
    margin: 0 11px;
    width: 500px;
    height: 350px;
    display: inline-block;
    overflow: hidden;
}
.page1>nav>section>img{
    transition-property: transform;
    transition-duration: .5s;
    transition-delay: 0s;
}
.page1>nav>section:hover>img{
    transform: scale(1.2);
}
.page1>nav>section>article{
    position: absolute;
    top: 0;
    margin: auto;
    width: 500px;
    height: 350px;
    background-color: rgba(180, 4, 4, .3);
    transform: scale(0);
    transition-property: transform;
    transition-duration: .5s;
    transition-delay: 0s;
}
.page1>nav>section:hover>article{
    transform: scale(1);
}
.page1>nav>section>article>h4{
    font-size: 30px;
    color: transparent;
    text-align: center;
    margin-top: 50px;
    transform: translateY(-100px);
    transition-property: all .5 linear;
    transition-delay: .5s;
}
.page1>nav>section>article>p{
    font-size: 20px;
    color: transparent;
    text-align: justify;
    margin: 40px 30px;
    transform: translateY(100px);
    transition-property: all .5 linear;
    transition-duration: .5s;
    transition-delay: .5s;
}
.page1>nav>section>article>a{
    font-size: 20px;
    text-align: center;
    padding: 20px 15px;
    background-color: transparent;
    color: transparent;
    text-decoration: none;
    margin: auto;
    display: inline-block;
    transition-property: background-color,color;
    transition-duration: .5s;
    transition-delay: .5s;
}
.page1>nav>section>article:hover>h4{
    transform: translateY(0);
    color: white;
}
.page1>nav>section>article:hover>p{
    transform: translateY(0);
    color: white;
}
.page1>nav>section>article:hover>a{
    background-color: black;
    color: white;
}
.page2>nav, .page1>nav{
    padding: 100px 0;
    margin: auto;
    width: fit-content;
    overflow: hidden;
}
.page2>nav>section{
    position: relative;
    margin: 0 11px;
    width: 500px;
    height: 350px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}
.page2>nav>section>article{
    position: absolute;
    background-color: rgba(180, 4, 4, .3);
    top: 0;
    margin: auto;
    width: 500px;
    height: 350px;
    text-align: center;
    transform: rotate(90deg) translateX(425px) translateY(-425px);
    transition-property: transform;
    transition-duration: .5s;
    transition-delay: 0s;
    overflow: hidden;
}
.page2>nav>section>article>h4{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    transform: translate(300px,-100px);
    transition-property: transform;
    transition-duration: .5s;
    transition-delay: .5s;
}
.page2>nav>section>article>p{
    color: white;
    font-size: 20px;
    text-align: justify;
    margin: 40px 30px;
    transform: translate(-300px,300px);
    transition-property: transform;
    transition-duration: .5s;
    transition-delay: .5s;
}
.page2>nav>section>article>a{
    font-size: 20px;
    text-align: center;
    padding: 20px 15px;
    background-color: transparent;
    color: transparent;
    text-decoration: none;
    margin: auto;
    display: inline-block;
    transform: translateY(100px);
    transition-property: transform, color, background-color;
    transition-duration: .5s;
    transition-delay: .5s;
}
.page2>nav>section:hover>article{
    transform: rotate(0) translate(0);
}
.page2>nav>section:hover>article>h4{
    transform: translate(0,0);
}
.page2>nav>section:hover>article>p{
    transform: translate(0,0);
}
.page2>nav>section:hover>article>a{
    transform: translateY(0);
    color: white;
    background-color: black;
}
.page3>nav{
    padding: 100px 0;
    margin: auto;
    width: fit-content;
    overflow: hidden;
}
.page3>nav>section{
    position: relative;
    margin: 0 11px;
    width: 500px;
    height: 350px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}
.page3>nav>section>article{
    position: absolute;
    background-color: rgba(180, 4, 4, .3);
    top: 0;
    margin: auto;
    width: 500px;
    height: 350px;
    transform: rotate(90deg) translateY(-75px) translateX(-425px);
    transition-property: transform;
    transition-duration: .5s;
    transition-delay: 0s;
    overflow: hidden;
}
.page3>nav>section>img{
    transition-property: transform;
    transition-duration: .5s;
    transition-delay: 0s;
}
.page3>nav>section>article>h4{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    transform: translate(-200px, -200px) rotate(-90deg);
    transition-property: transform;
    transition-duration: .5s;
    transition-delay: .5s;
}
.page3>nav>section>article>p{
    color: white;
    font-size: 20px;
    text-align: justify;
    margin: 40px 30px;
    transform: translate(300px, -300px) rotate(90deg);
    transition-property: transform;
    transition-duration: .5s;
    transition-delay: .5s;
}
.page3>nav>section>article>a{
    font-size: 20px;
    text-align: center;
    padding: 20px 15px;
    background-color: transparent;
    color: transparent;
    text-decoration: none;
    margin: auto;
    display: inline-block;
    transform: translateY(-100px);
    transition-property: transform, color, background-color;
    transition-duration: .5s;
    transition-delay: .5s;
}
.page3>nav>section:hover>img{
    transform: scale(1.35) rotate(-15deg);
}
.page3>nav>section:hover>article{
    transform: translateY(0) translateX(0) rotate(0);
}
.page3>nav>section:hover>article>h4{
    transform: translate(0) rotate(0);
}
.page3>nav>section:hover>article>p{
    transform: translate(0) rotate(0);
}
.page3>nav>section:hover>article>a{
    transform: translate(0);
    color: white;
    background-color: black;
}
.page4>nav{
    padding: 100px 0;
    margin: auto;
    width: fit-content;
    overflow: hidden;
}
.page4>nav>section{
    position: relative;
    margin: 0 11px;
    width: 500px;
    height: 350px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}
.page4>nav>section>article{
    position: absolute;
    background-color: rgba(180, 4, 4, .3);
    top: 0;
    margin: auto;
    width: 500px;
    height: 350px;
    transform: rotate(720deg) scale(0);
    transition-property: transform;
    transition-duration: .5s;
    transition-delay: 0s;
    overflow: hidden;
}
.page4>nav>section>img{
    transition-property: transform;
    transition-duration: .5s;
    transition-delay: 0s;
}
.page4>nav>section>article>h4{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    transform: translateX(-400px);
    transition-property: transform;
    transition-duration: .5s;
    transition-delay: .5s;
}
.page4>nav>section>article>p{
    color: white;
    font-size: 20px;
    text-align: justify;
    margin: 40px 30px;
    transform: translateX(500px);
    transition-property: transform;
    transition-duration: .5s;
    transition-delay: .5s;
}
.page4>nav>section>article>a{
    font-size: 20px;
    text-align: center;
    padding: 20px 15px;
    background-color: transparent;
    color: transparent;
    text-decoration: none;
    margin: auto;
    display: inline-block;
    transform: translateY(200px);
    transition-property: transform, color, background-color;
    transition-duration: .5s;
    transition-delay: .5s;
}
.page4>nav>section:hover>img{
    transform: scale(1.5);
}
.page4>nav>section:hover>article{
    transform: rotate(0) scale(1);
}
.page4>nav>section:hover>article>h4{
    transform: translate(0) rotate(0);
}
.page4>nav>section:hover>article>p{
    transform: translate(0) rotate(0);
}
.page4>nav>section:hover>article>a{
    transform: translate(0);
    color: white;
    background-color: black;
}
.page5>nav{
    padding: 100px 0;
    margin: auto;
    width: fit-content;
    overflow: hidden;
}
.page5>nav>section{
    position: relative;
    margin: 0 11px;
    width: 500px;
    height: 350px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}
.page5>nav>section>article{
    position: absolute;
    background-color: rgba(180, 4, 4, .3);
    top: 0;
    margin: auto;
    width: 500px;
    height: 350px;
    transform: translate(-500px, 350px);
    transition-property: transform;
    transition-duration: .5s;
    transition-delay: 0s;
    overflow: hidden;
}
.page5>nav>section>article>h4{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    transform: scale(0) rotate(720deg);
    transition-property: transform;
    transition-duration: .5s;
    transition-delay: .5s;
}
.page5>nav>section>article>p{
    color: white;
    font-size: 20px;
    text-align: justify;
    margin: 40px 30px;
    transform: translate(-500px,350px) rotate(720deg);
    transition-property: transform;
    transition-duration: .5s;
    transition-delay: 1s;
}
.page5>nav>section>article>a{
    font-size: 20px;
    text-align: center;
    padding: 20px 15px;
    background-color: transparent;
    color: transparent;
    text-decoration: none;
    margin: auto;
    display: inline-block;
    transform: scale(0) rotate(720deg);
    transition-property: transform, color, background-color;
    transition-duration: .5s;
    transition-delay: 1s;
}
.page5>nav>section:hover>article{
    transform: translate(0);
}
.page5>nav>section:hover>article>h4{
    transform: scale(1) rotate(0);
}
.page5>nav>section:hover>article>p{
    transform: translate(0);
}
.page5>nav>section:hover>article>a{
    transform: scale(1) rotate(0);
    color: white;
    background-color: black;
}
.page6>nav{
    padding: 100px 0;
    margin: auto;
    width: fit-content;
    overflow: hidden;
}
.page6>nav>section{
    position: relative;
    margin: 0 11px;
    width: 500px;
    height: 350px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}
.page6>nav>section>article{
    position: absolute;
    background-color: darkred;
    top: 0;
    margin: auto;
    width: 500px;
    height: 350px;
    transform: scale(0);
    transition-property: transform;
    transition-duration: .5s;
    transition-delay: 0s;
    overflow: hidden;
}
.page6>nav>section>footer{
    position: absolute;
    background-color: transparent;
    top: 0;
    margin: auto;
    width: 500px;
    height: 350px;
    transition-property: background-color;
    transition-duration: .5s;
    transition-delay: 0s;
    overflow: hidden;
}
.page6>nav>section>img{
    transition-property: transform;
    transition-duration: .5s;
    transition-delay: 0s;
}
.page6>nav>section>article>h4{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    transform: scale(0);
    transition-property: transform;
    transition-duration: .5s;
    transition-delay: .5s;
}
.page6>nav>section>article>p{
    color: white;
    font-size: 20px;
    text-align: justify;
    margin: 40px 30px;
    transform: scale(0);
    transition-property: transform;
    transition-duration: .5s;
    transition-delay: .5s;
}
.page6>nav>section>article>a{
    font-size: 20px;
    text-align: center;
    padding: 20px 15px;
    background-color: transparent;
    color: transparent;
    text-decoration: none;
    margin: auto;
    display: inline-block;
    transform: rotate(720deg);
    transition-property: transform, color, background-color;
    transition-duration: .5s;
    transition-delay: .5s;
}
.page6>nav>section:hover>img{
    transform: scale(1.5);
}
.page6>nav>section:hover>footer{
    background-color: rgba(255, 255, 255, .6);
}
.page6>nav>section:hover>article{
    transform: scale(1);
}
.page6>nav>section:hover>article>h4{
    transform: scale(1);
}
.page6>nav>section:hover>article>p{
    transform: scale(1);
}
.page6>nav>section:hover>article>a{
    transform: rotate(0);
    color: white;
    background-color: black;
}